* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-y: hidden;
}
body {
  background: #ffffff;
}
.container {
  max-width: 1420px;
  width: 100% ;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  background: #000000;
  color: #ffffff;
  padding: 25px 25px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  display: flex;
  justify-content: right;
  color: #ffffff;
}
.nav-items {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
#nav-button {
  padding: 12px 32px;
  background: #ff7143;
  color: #000000;
  border-radius: 6px;
  margin-left: 65px;
  font-weight: 700;
}
.hero {
  background: #ff7143;
  height: 735px;
}
.hero-visual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-title {
  margin-top: 240px;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}
.hero-subtitle {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
}

.hero-button {
  margin-right: 10px;

  margin-top: 25px;
  padding: 20px 32px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
}
.b {
  background: #000000;
  color: #ffffff;
}
.w {
  background: #ffffff;
  color: #000000;
}
.hero-img {
  display: block;
  margin-left: 110px;
}

.commercial-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
  margin-top: 80px;
  align-items: center;
  gap: 50px;
}
.commercial-card {
  display: flex;
  align-items: center;
}
.commercial-block {
  height: 70px;
  width: 100px;
  background-color: #fde7da;
  background-repeat: no-repeat;
  background-position: center;
}
.sp {
  background-image: url(./img/speed.png);
}
.dg {
  background-image: url(./img/desing.png);
}
.md {
  background-image: url(./img/modularity.png);
}
.commercial-info p {
  font-size: 24px;
  font-weight: 700;
}
.commercial-info {
  margin-left: 25px;
}
.druk {
  margin-top: 100px;
  background: #000000;
}
.druk-container {
  align-items: center;
  text-align: center;
  padding-top: 100px;
  color: #ffffff;
  justify-items: center;
}
.druk-subtitle {
  margin-top: 35px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  max-width: 650px;
}
.druk-name {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin-top: 40px;
}
.druk-com {
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  opacity: 70%;
}
.druk-boxes {
  margin-top: 30px;
  background: inherit;
  background-color: #ffffff;
  display: flex;
  gap: 20px;
}
.druk-box {
  height: 16px;
  width: 16px;
}
.landing-title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 100px;
}
.landing-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  text-align: start;
  align-items: center;
}
.-items {
  display: flex;
  align-items: center;
    gap: 20px;

}
.lending-img {
  padding: 40px 40px 0 40px;
  background-color: #000000;
  border-radius: 6px;
  margin-top: 25px;
}
.landing-subtitle {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 20px 30px;
}
.footer {
  background: #000000;
  height: 335px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-visual {
  margin-top: 80px;
  align-items: start;
}
.footer-star-links {
  margin-top: 80px;
  color: #FFFFFF;
  gap: 20px;
}
hr{
  margin-top: 40px;
}
.footer-content{
  margin-top: 80px;
  align-items: end;
  text-align: end;
}
.footer-button{
  background: #ffffff;
  padding: 12px 32px 12px 32px;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 840px) {
  .hero-img {
    display: none;
  }
  .hero-visual {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-content {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .nav-items {
    display: none;
  }
}


